body {
    background-color: #555555;
    color: #ffffff;
    text-align: center;
}

img {
    max-width: 10%;
    max-height: 10%;
}

table {
    margin: 0 auto;
    text-align: center;
}

table, th {
    text-align: center;
}

a, td {
    text-decoration: none;
    color: #ffffff;
}